.gitContainer{
  padding: 5vh;
  background: #303841;
  min-height: 80vh;
}



/* .submitBtn {
  margin-left: 3vw;
  padding: 10px 30px;
  background: #FCA311;
  outline: none;
  border: none;
  color: #000;
} */
/* 
.infoBox {
  margin-top: 5vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border: 1px solid red;
}

.userWrapper {
  width: 80%;
  display: flex;
  justify-content: space-between;
}

.imageWrapper {
  height: 200px;
  width: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #e5e5e5;
}

.imageWrapper img {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}

.inputBox {
  padding: 1.5vh;
  width: 20vw;
  outline: none;
}

.btn {
  padding:20px;
} */

.cardWrapper{
  display: flex;
  justify-content: space-between;
}

.card{
  width: 100%;
  box-sizing: border-box;
}

.cardContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cardImage {
  max-width: 35%;
  object-fit: scale-down;
}

.cardContent input {
  margin-top: 5vh;
  box-sizing: border-box;
  padding: 10px;
  outline: none;
  border: none;
}

.getStatsBtn{
  margin-top: 5vh;
  padding: 10px 30px;
  background: #FCA311;
  outline: none;
  border: none;
  color: #000;
}

.userName {
  color: #fff;
}

.userName span{
  color: #FCA311;
}